body {
    margin: 0px;
    padding-left: 10px;
    background-color: rgba(238, 203, 7, 0.5);
}

h1 {
    text-align: center;
    text-decoration: overline;
    font-family: 'Courier New', Courier, monospace;
}

img {
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.137);
    align-content: center;
}